include tag
include date

// Attributes
//  tag: text
//  date: text || null
//  title: text
//  btnText: text
//  descr: text
//  decrPosition: 'up' || 'down'
//  href: text (link)
//  btnType: 'primary' || 'secondary'

mixin banner(tag, date, title, btnText, descr, decrPosition='down', href='#', btnType='secondary')
  article.banner&attributes(attributes)
    +tag(tag).banner__tag
    .banner__content(class=date ? 'banner__content--with-date': null)
      if date
        +date(date).banner__date
      h3.banner__title= title
      span(class=`banner__description--${decrPosition}`).banner__description= descr
      a(href=href class=`btn--${btnType} banner__button--${btnType}`).btn.banner__button= btnText