mixin picture(alt, filePath, ext='jpg', type='image/jpeg')
  picture&attributes(attributes)
    source(media="(min-width: 1320px)" srcset=filePath + '@raw.webp' type="image/webp")
    source(media="(min-width: 1320px)" srcset=filePath + '@raw.' + ext type="image/jpeg")
    source(media="(min-width: 1024px)" srcset=filePath + '@1024.webp' type="image/webp")
    source(media="(min-width: 1024px)" srcset=filePath + '@1024.' + ext type="image/jpeg")
    source(media="(min-width: 768px)" srcset=filePath + '@768.webp' type="image/webp")
    source(media="(min-width: 768px)" srcset=filePath + '@768.' + ext type="image/jpeg")
    source(srcset=filePath + '@320.webp' type="image/webp")
    img(src=filePath + '@320.' + ext alt=alt)